<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Data ETl-V demo</title>

    {% include 'css.html' %}
  </head>
  <body>
    <div class='container'>
        <div class="row">
            <div class="col-sm-11">
                <h1>Data ETL-V demo</h1>
            </div>
        </div>
        {% block content %}
        {% endblock content %}


    </div>
    {% include 'js.html' %}
    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>
  </body>
</html>

